services:
  model-service:
    build:
      context: ../model_service
    container_name: sms-model-service
    environment:
      - PORT=${BACKEND_CONTAINER_PORT}
      - MODEL_VERSION=${MODEL_VERSION}
      - MODEL_BASE_URL=${MODEL_BASE_URL}
    volumes:
      - ../model_service/output:/app/output
    restart: unless-stopped
    networks:
      - sms-network
  app-service:
    build:
      context: ../app
    container_name: sms-app-service
    environment:
      - BACKEND_URL=${BACKEND_URL}
      - SERVER_PORT=${FRONTEND_CONTAINER_PORT}
    ports:
      - "${FRONTEND_HOST_PORT}:${FRONTEND_CONTAINER_PORT}"
    depends_on:
      - model-service
    restart: unless-stopped
    networks:
      - sms-network
networks:
  sms-network:
    driver: bridge
