# application config
app:
  name: sms-app
  replicaCount: 2
  
  # Docker image settings
  image:
    repository: ghcr.io/doda25-team1/app
    tag: latest # version to be used
    pullPolicy: IfNotPresent # only if not already downloaded
  
  # Network settings for the app
  service:
    type: ClusterIP # only accessible within the cluster
    port: 8080 # port other services talk to
    targetPort: 8080 # port app listens to
  
  # Resource limitations
  resources:
    limits:
      cpu: 500m # 0.5 CPU cores
      memory: 512Mi # 512 megabytes of RAM
    # minimums
    requests:
      cpu: 250m # 0.25 CPU cores
      memory: 256Mi # 256 megabytes of RAM
  
  # Access the app from outside the cluster
  ingress:
    enabled: true
    className: "nginx"
    hostname: "sms-app.example.com" # url on which app is accessible
    annotations: {}
    tls:
      enabled: false
      secretName: ""

  # ConfigMap for non-sensitive configuration
  config:
    enabled: false # Set to true to enable ConfigMap
    value: "example-config-value" # Placeholder configuration value

  # Secret for sensitive data (e.g., SMTP passwords)
  secret:
    enabled: false # Set to true to enable Secret
    smtpPassword: "changeme" # Placeholder - change during installation

  prometheus:
    serviceMonitor:
      enabled: true
      interval: 30s
    releaseLabel: sms-app-prom
    
modelService:
  name: sms-model-service
  replicaCount: 1

  image:
    repository: ghcr.io/doda25-team1/model-service
    tag: latest
    pullPolicy: IfNotPresent

  service:
    type: ClusterIP
    port: 8081
    targetPort: 8081
  
  env:
    MODEL_VERSION: "0.0.1"
    MODEL_BASE_URL: "https://github.com/doda25-team1/model-service/releases/download"

  volume:
    enabled: true
    mountPath: /app/output

  resources:
    limits:
      cpu: 500m
      memory: 512Mi
    requests:
      cpu: 250m
      memory: 256Mi