# application config
app:
  name: sms-app
  replicaCount: 1
  
  # Docker image settings
  image:
    repository: ghcr.io/doda25-team1/app
    tag: latest # version to be used
    pullPolicy: IfNotPresent # only if not already downloaded
  
  # Network settings for the app
  service:
    type: ClusterIP # only accessible within the cluster
    port: 8080 # port other services talk to
    targetPort: 8080 # port app listens to
  
  # Resource limitations
  resources:
    limits:
      cpu: 500m # 0.5 CPU cores
      memory: 512Mi # 512 megabytes of RAM
    # minimums
    requests:
      cpu: 250m # 0.25 CPU cores
      memory: 256Mi # 256 megabytes of RAM

  env:
    BACKEND_URL: "http://model-service:8081"

  # Access the app from outside the cluster
  ingress:
    enabled: true
    className: "nginx"
    hostname: "sms-app.example.com" # url on which app is accessible
    annotations: {}
    tls:
      enabled: false
      secretName: ""


    
modelService:
  name: model-service
  replicaCount: 1

  image:
    repository: ghcr.io/doda25-team1/model-service
    tag: latest
    pullPolicy: IfNotPresent

  service:
    type: ClusterIP
    port: 8081
    targetPort: 8081
  
  env:
    MODEL_VERSION: "0.0.1"
    MODEL_BASE_URL: "https://github.com/doda25-team1/model-service/releases/download" 

  volume:
    enabled: true
    mountPath: /app/output
  
  resources:
    limits:
      cpu: 2000m  # ⬅️ Increase to 2 CPU cores
      memory: 2Gi   # ⬅️ Increase to 2 Gigabytes of RAM
    requests:
      cpu: 1000m  # ⬅️ Request at least 1 full CPU core
      memory: 1Gi

storage:
  # This provides the source path for the volume (the shared VirtualBox folder).
  # The model-service-deployment.yaml template will combine this 'hostPath' with 
  # the 'modelService.volume.mountPath'.
  hostPath: /mnt/vbox_share/model-data