---
- hosts: ctrl
  become: true
  environment:
    KUBECONFIG: /etc/kubernetes/admin.conf

  tasks:
    - name: Install MetalLB Manifest
      ansible.builtin.shell: kubectl apply -f https://raw.githubusercontent.com/metallb/metallb/v0.14.9/config/manifests/metallb-native.yaml

    - name: Wait for MetalLB Controller to be ready
      ansible.builtin.shell: |
        kubectl wait -n metallb-system \
        -l app=metallb,component=controller \
        --for=condition=ready pod \
        --timeout=60s
      register: result
      retries: 5
      delay: 10
      until: result.rc == 0

    - name: Create MetalLB Configuration File
      copy:
        dest: /root/metallb-config.yaml
        content: |
          apiVersion: metallb.io/v1beta1
          kind: IPAddressPool
          metadata:
            name: default-pool
            namespace: metallb-system
          spec:
            addresses:
            - 192.168.56.90-192.168.56.99
          ---
          apiVersion: metallb.io/v1beta1
          kind: L2Advertisement
          metadata:
            name: default-advertisement
            namespace: metallb-system

    - name: Apply MetalLB Configuration
      ansible.builtin.shell: kubectl apply -f /root/metallb-config.yaml

    - name: Add Ingress-NGINX Helm repository
      kubernetes.core.helm_repository:
        name: ingress-nginx
        repo_url: https://kubernetes.github.io/ingress-nginx


    - name: Ensure ingress-nginx namespace exists
      kubernetes.core.k8s:
        state: present
        definition:
        apiVersion: v1
        kind: Namespace
        metadata:
        name: ingress-nginx


    - name: Install Ingress-NGINX via Helm
      kubernetes.core.helm:
        name: ingress-nginx
        chart_ref: ingress-nginx/ingress-nginx
        release_namespace: ingress-nginx
        create_namespace: false
        state: present
        values:
        controller:
        service:
        type: LoadBalancer


    - name: Wait for ingress controller to become ready
      ansible.builtin.shell: |
        kubectl wait --namespace ingress-nginx \
        --for=condition=ready pod \
        -l app.kubernetes.io/component=controller \
        --timeout=120s