---
- hosts: ctrl
  become: true
  tasks:
    - name: Install MetalLB Manifest
      ansible.builtin.shell: kubectl apply -f https://raw.githubusercontent.com/metallb/metallb/v0.14.9/config/manifests/metallb-native.yaml

    - name: Wait for MetalLB Controller to be ready
      ansible.builtin.shell: |
        kubectl wait -n metallb-system \
        -l app=metallb,component=controller \
        --for=condition=ready pod \
        --timeout=60s
      register: result
      retries: 5
      delay: 10
      until: result.rc == 0

    - name: Create MetalLB Configuration File
      copy:
        dest: /root/metallb-config.yaml
        content: |
          apiVersion: metallb.io/v1beta1
          kind: IPAddressPool
          metadata:
            name: default-pool
            namespace: metallb-system
          spec:
            addresses:
            - 192.168.56.90-192.168.56.99
          ---
          apiVersion: metallb.io/v1beta1
          kind: L2Advertisement
          metadata:
            name: default-advertisement
            namespace: metallb-system

    - name: Apply MetalLB Configuration
      ansible.builtin.shell: kubectl apply -f /root/metallb-config.yaml