---
# will apply to both controller and nodes
- name: General configuration for controller and its nodes
  hosts: all
  # sudo for tasks that require root permissions
  become: true

  vars: # from Vagrantfile extra_vars
    controller_ip: "{{ controller_ip }}"
    worker_count: "{{ worker_count }}"

  tasks:

    # package install tasks to always be up to date
    - name: Update apt cache
      apt:
        update_cache: true

    # use jinja to generate /etc/hosts
    - name: Set up /etc/hosts file dynamically
      template:
        src: "../templates/hosts.j2"
        dest: /etc/hosts
        owner: root
        group: root
        mode: '0644'
